* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url("forest2.jpg");
    background-repeat: repeat;
    justify-content: center;
  }
  .title {
    padding: 10px;
  }
  .container {
    top:30%;
    background-color: #ffffff;
    width: 30%;
    min-width: 30%;
    padding: 3.12em 1.87em;
    position: absolute;
    transform: translateX(-50%);
    left: 70%;
    box-shadow: 1.25em 1.25em 3.43em rgba(0, 0, 0, 0.6);
    border-radius: 0.75em;
    text-align: center;
    margin: auto;
  }
  #currentMode {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-weight: 600;
    background-color:rgb(255, 204, 0);
    border-radius: 5px;
  }
  input[type="file"] {
    display: none;
  }
  label {
    display: block;
    position: relative;
    background-color: #107604;
    color: #ffffff;
    font-size: 1.1em;
    text-align: center;
    width: 80%;
    padding: 1em;
    border-radius: 0.3em;
    margin: 0 auto 1em auto;
    cursor: pointer;
    /* padding: 10px; */
  }
  #response {
    margin: 5px;
  }
  #image-display {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1.25em;
    flex-wrap: wrap;
  }
  #image-display figure {
    width: 45%;
  }
  #image-display img {
    width: 100%;
  }
  #image-display figcaption {
    font-size: 0.8em;
    text-align: center;
    color: #5a5861;
  }
  .active {
    border: 0.2em dashed #025bee;
  }
  #error {
    text-align: center;
    color: #ff3030;
  }
  
  /* CSS */
  .button-19 {
    appearance: button;
    background-color: #03ae2e;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin-top: 15px;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 30%;
    min-width: 100px;
  }
  
  .button-19:after {
    background-clip: padding-box;
    background-color: #02ea31;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button-19:main,
  .button-19:focus {
    user-select: auto;
  }
  
  .button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button-19:disabled {
    cursor: auto;
  }

@media screen and (max-width: 650px) {
  body {
    min-width: 300px;
  }
    .container {
    left: 50%;
    width: 70%;
    top:15%
    }
}